ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  background: white;
  &::-webkit-scrollbar {
    display: none;
  }
}

.full {
  width: 100vw;
  height: 77vh;
  margin-inline: auto;
  z-index: 0;
}
