<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Profile </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="float_mid">
    <ion-chip>
      Distance: {{currentDirection?.routes[0].legs[0].distance.text ?? "0 mi"}}
    </ion-chip>
    <br />
    <ion-chip>
      Time: {{currentDirection?.routes[0].legs[0].duration.text ?? "0 sec"}}
    </ion-chip>
  </div>
  <div #map class="full"></div>
</ion-content>
